{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "ignore": [
        "./src/pokemon.js"
      ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "transform-remove-strict-mode"
    ]
      
}